body {
	background-color:black;
	color:green;
}

table
{
	width: 100%;
	font-size: 18;
	font-style: bold;
}

.shine
{
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
	font-size:72;
	text-align:center;
}
@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

#activityLog {
	vertical-align: top;
	overflow: auto;
	height: 400px;
	width: 100%;
	display: inline-block;
}